In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# 读取数据_1
df_ad = pd.read_csv(r'C:\Users\cc\Documents\经纬度地址匹配\Clients_address.csv')
df_ad.head()
# 居住省份，居住城市，居住县区，居住地址 or 居住地址.1
# user_id
# 授信成功（保留）

,居住省份,居住城市,居住县区,居住地址,单位省份,单位城市,单位县区,单位地址,公司地址,居住地址.1,user_id(md5),"是否授信成功,1:是；0:否",Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,贵州省,毕节市,黔西县,迎宾小区,贵州省,毕节市,黔西县,水西大厦,贵州省毕节市黔西县水西大厦,贵州省毕节市黔西县迎宾小区,16c91e075d2107f3f52de5a71e5543b5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,河南省,平顶山市,卫东区,平顶山市第一人民医院家属院,河南省,平顶山市,卫东区,河南省平顶山市卫东区优越路117号靠近平顶山市第一人民医院,河南省平顶山市卫东区河南省平顶山市卫东区优越路117号靠近平顶山市第一人民医院,河南省平顶山市卫东区平顶山市第一人民医院家属院,2b92f942b6de4bb460583506f3a112d2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,云南省,曲靖市,会泽县,园丁小区,云南省,曲靖市,会泽县,会泽三中,云南省曲靖市会泽县会泽三中,云南省曲靖市会泽县园丁小区,1919c64dcd8e85d31abd7c232b26e1b9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,辽宁省,沈阳市,法库县,剑桥世家,辽宁省,沈阳市,法库县,法库县四家子乡,辽宁省沈阳市法库县法库县四家子乡,辽宁省沈阳市法库县剑桥世家,0dcfdd9b23dca99a8ff4145b21dfaa37,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,吉林省,吉林市,昌邑区,中海岳江府,吉林省,吉林市,龙潭区,江北派出所,吉林省吉林市龙潭区江北派出所,吉林省吉林市昌邑区中海岳江府,660f73fe3be8fe34ff83bfbf1ed8d79b,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 读取数据_2
df_loc = pd.read_csv(r'C:\Users\cc\Documents\经纬度地址匹配\Clients_lon&lat.csv')
df_loc.head()
# b.location_lat,b.location_lng,b.devicetype(OFFLINE_PAD 是中介)
# user_id
# 授信成功（保留）

,a.credit_apply_id,a.apply_start_time,a.product_no,a.product_id,a.rn,user_id(md5),b.devicetype,b.devicebrand,b.location_lat,b.location_lng,b.dt,b.createtime,"是否授信成功,1:是；0:否"
0,000CA2021060000018415,2021-06-23 15:52:38.0,PN00000001,PN00000001-0009,1,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,HONOR,27.127034,115.001836,2021-06-23,2021-06-23 15:15:33,1
1,000CA2021060000018415,2021-06-23 15:52:38.0,PN00000001,PN00000001-0009,1,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,HONOR,27.127044,115.002040,2021-06-23,2021-06-23 15:17:31,1
2,000CA2021060000018415,2021-06-23 15:52:38.0,PN00000001,PN00000001-0009,1,a77b3cc1d5428f92c52b648f903258de,OFFLINE_PAD,XIAOMI,27.132811,115.007894,2021-06-23,2021-06-23 15:52:40,1
3,000CA2021060000018415,2021-06-23 15:52:38.0,PN00000001,PN00000001-0009,1,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,HONOR,27.127124,115.001423,2021-06-23,2021-06-23 15:19:29,1
4,000CA2021060000018415,2021-06-23 15:52:38.0,PN00000001,PN00000001-0009,1,a77b3cc1d5428f92c52b648f903258de,OFFLINE_PAD,XIAOMI,27.132732,115.007517,2021-06-23,2021-06-23 15:30:02,1

In [11]:
df_ad.count()

居住省份              400
居住城市              400
居住县区              399
居住地址              400
单位省份              400
单位城市              400
单位县区              398
单位地址              400
公司地址              400
居住地址.1            400
user_id(md5)      400
是否授信成功,1:是；0:否    400
Unnamed: 12         0
Unnamed: 13         0
Unnamed: 14         0
Unnamed: 15         0
Unnamed: 16         0
Unnamed: 17         0
Unnamed: 18         0
Unnamed: 19         0
dtype: int64

In [12]:
df_loc.count()

a.credit_apply_id     6243
a.apply_start_time    6243
a.product_no          6243
a.product_id          6243
a.rn                  6243
user_id(md5)          6243
b.devicetype          6237
b.devicebrand         6237
b.location_lat        5770
b.location_lng        5770
b.dt                  6243
b.createtime          6243
是否授信成功,1:是；0:否        6243
dtype: int64

In [16]:
#看是否有空值
np.any(df_loc.isnull())

True

In [30]:
df_loc.info()
df_ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6243 entries, 0 to 6242
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   a.credit_apply_id   6243 non-null   object
 1   a.apply_start_time  6243 non-null   object
 2   a.product_no        6243 non-null   object
 3   a.product_id        6243 non-null   object
 4   a.rn                6243 non-null   int64
 5   user_id(md5)        6243 non-null   object
 6   b.devicetype        6237 non-null   object
 7   b.devicebrand       6237 non-null   object
 8   b.location_lat      5770 non-null   float64
 9   b.location_lng      5770 non-null   float64
 10  b.dt                6243 non-null   object
 11  b.createtime        6243 non-null   object
 12  是否授信成功,1:是；0:否      6243 non-null   int64
dtypes: float64(2), int64(2), object(9)
memory usage: 634.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   居住省份            400 non-null    object
 1   居住城市            400 non-null    object
 2   居住县区            399 non-null    object
 3   居住地址            400 non-null    object
 4   单位省份            400 non-null    object
 5   单位城市            400 non-null    object
 6   单位县区            398 non-null    object
 7   单位地址            400 non-null    object
 8   公司地址            400 non-null    object
 9   居住地址.1          400 non-null    object
 10  user_id(md5)    400 non-null    object
 11  是否授信成功,1:是；0:否  400 non-null    int64
 12  Unnamed: 12     0 non-null      float64
 13  Unnamed: 13     0 non-null      float64
 14  Unnamed: 14     0 non-null      float64
 15  Unnamed: 15     0 non-null      float64
 16  Unnamed: 16     0 non-null      float64
 17  Unnamed: 17     0 non-null      float64
 18  Unnamed: 18     0 non-null      float64
 19  Unnamed: 19     0 non-null      float64
dtypes: float64(8), int64(1), object(11)
memory usage: 62.6+ KB

In [18]:
df_loc.isnull().sum()/len(df_loc)

a.credit_apply_id     0.000000
a.apply_start_time    0.000000
a.product_no          0.000000
a.product_id          0.000000
a.rn                  0.000000
user_id(md5)          0.000000
b.devicetype          0.000961
b.devicebrand         0.000961
b.location_lat        0.075765
b.location_lng        0.075765
b.dt                  0.000000
b.createtime          0.000000
是否授信成功,1:是；0:否        0.000000
dtype: float64

In [51]:
df_ad = df_ad.drop([
'单位省份',           
'单位城市',              
'单位县区',              
'单位地址',             
'公司地址',            
'Unnamed: 12',         
'Unnamed: 13',         
'Unnamed: 14',         
'Unnamed: 15',         
'Unnamed: 16',         
'Unnamed: 17',         
'Unnamed: 18',        
'Unnamed: 19',      
                ],axis=1)

df_loc = df_loc.drop([
'a.apply_start_time',
'a.credit_apply_id',   
'a.product_no',        
'a.product_id',         
'a.rn',
'b.devicebrand',
'b.dt',                 
'b.createtime',               
                ],axis=1)

KeyError: "['单位省份' '单位城市' '单位县区' '单位地址' '公司地址' 'Unnamed: 12' 'Unnamed: 13'\n 'Unnamed: 14' 'Unnamed: 15' 'Unnamed: 16' 'Unnamed: 17' 'Unnamed: 18'\n 'Unnamed: 19'] not found in axis"

In [35]:
df_loc.head()
df_ad.head()

,居住省份,居住城市,居住县区,居住地址,居住地址.1,user_id(md5),"是否授信成功,1:是；0:否"
0,贵州省,毕节市,黔西县,迎宾小区,贵州省毕节市黔西县迎宾小区,16c91e075d2107f3f52de5a71e5543b5,1
1,河南省,平顶山市,卫东区,平顶山市第一人民医院家属院,河南省平顶山市卫东区平顶山市第一人民医院家属院,2b92f942b6de4bb460583506f3a112d2,1
2,云南省,曲靖市,会泽县,园丁小区,云南省曲靖市会泽县园丁小区,1919c64dcd8e85d31abd7c232b26e1b9,1
3,辽宁省,沈阳市,法库县,剑桥世家,辽宁省沈阳市法库县剑桥世家,0dcfdd9b23dca99a8ff4145b21dfaa37,1
4,吉林省,吉林市,昌邑区,中海岳江府,吉林省吉林市昌邑区中海岳江府,660f73fe3be8fe34ff83bfbf1ed8d79b,1

In [43]:
df=pd.merge(df_loc,df_ad,on='user_id(md5)',how='left')
df.head()

,a.apply_start_time,user_id(md5),b.devicetype,b.location_lat,b.location_lng,"是否授信成功,1:是；0:否_x",居住省份,居住城市,居住县区,居住地址,居住地址.1,"是否授信成功,1:是；0:否_y"
0,2021-06-23 15:52:38.0,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,27.127034,115.001836,1,江西省,吉安市,吉州区,北门街,江西省吉安市吉州区北门街,1
1,2021-06-23 15:52:38.0,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,27.127044,115.002040,1,江西省,吉安市,吉州区,北门街,江西省吉安市吉州区北门街,1
2,2021-06-23 15:52:38.0,a77b3cc1d5428f92c52b648f903258de,OFFLINE_PAD,27.132811,115.007894,1,江西省,吉安市,吉州区,北门街,江西省吉安市吉州区北门街,1
3,2021-06-23 15:52:38.0,a77b3cc1d5428f92c52b648f903258de,OFFLINE_ANDROID,27.127124,115.001423,1,江西省,吉安市,吉州区,北门街,江西省吉安市吉州区北门街,1
4,2021-06-23 15:52:38.0,a77b3cc1d5428f92c52b648f903258de,OFFLINE_PAD,27.132732,115.007517,1,江西省,吉安市,吉州区,北门街,江西省吉安市吉州区北门街,1

In [48]:
df.isnull().sum()/len(df)

a.apply_start_time    0.000000
user_id(md5)          0.000000
b.devicetype          0.000961
b.location_lat        0.075765
b.location_lng        0.075765
是否授信成功,1:是；0:否_x      0.000000
居住省份                  0.000000
居住城市                  0.000000
居住县区                  0.000801
居住地址                  0.000000
居住地址.1                0.000000
是否授信成功,1:是；0:否_y      0.000000
dtype: float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6243 entries, 0 to 6242
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   a.apply_start_time  6243 non-null   object
 1   user_id(md5)        6243 non-null   object
 2   b.devicetype        6237 non-null   object
 3   b.location_lat      5770 non-null   float64
 4   b.location_lng      5770 non-null   float64
 5   是否授信成功,1:是；0:否_x    6243 non-null   int64
 6   居住省份                6243 non-null   object
 7   居住城市                6243 non-null   object
 8   居住县区                6238 non-null   object
 9   居住地址                6243 non-null   object
 10  居住地址.1              6243 non-null   object
 11  是否授信成功,1:是；0:否_y    6243 non-null   int64
dtypes: float64(2), int64(2), object(8)
memory usage: 634.1+ KB

In [50]:
df.to_csv(r'C:\Users\cc\Documents\经纬度地址匹配\data.csv',encoding = 'utf-8-sig')